<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218489558221-18egrq2tv93j67bdsn8lt7kfd7ucv9na.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218489558221-18egrq2tv93j67bdsn8lt7kfd7ucv9na</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>218489558221-mlm95hhg2sbplchn470rgjskkafl1etn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCE_G0yUfM0_KYTqucMnT3pp18fHlhR19A</string>
	<key>GCM_SENDER_ID</key>
	<string>218489558221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.safeandsound.app</string>
	<key>PROJECT_ID</key>
	<string>safe-and-sound-ske19</string>
	<key>STORAGE_BUCKET</key>
	<string>safe-and-sound-ske19.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218489558221:ios:f9f45ddb0e5957de2d4584</string>
</dict>
</plist>